body {
    font-family: 'Cairo', sans-serif;
    background-image: url(//wso2.cachefly.net/wso2/sites/all/ballerina/img2/ballerina-bg2-v2.svg);
    
    background-position: right center;
    background-size: 15%;
    background-position: left -100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    transition: all 0.5s ease 0s;
    margin-top: 3em;
}

a {
    transition: all 0.5s ease 0s;
    border-bottom: 1px solid transparent
}

h1 {
    color: #404041;
    font-size: 3em;
    font-style: normal;
    font-weight: 200;
    line-height: 1.5em;
    margin: 0 0 1em;
    text-transform: none
}

.cBallerinaNav {
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 999999;
    width: 100%;
    top: 0;
    background-color: #000000;
}


.cBallerinaNav.cFixedTopMenu {
    position: fixed;
}



.cBallerinaNav .navbar.navbar-default {
    background: 0 0;
    border: none;
    padding: 0;
}

.cBallerinaNav .nav.navbar-nav {
    float: right
}

.cBallerinaNav .navbar-brand {
/*    color: #000;
    font-weight: 800;
    font-size: 30px;
    max-width: 200px;
    height: 50px;
    line-height: 20px;*/
}

.navbar-brand > img {
    display: block;
    height: 20px;
/*    margin-top: 14px;*/
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-text {
    color: #f5f5f5;
}

.navbar-default .navbar-nav > li > a:visited ,.navbar-default .navbar-nav > li > a:active {
    color: #f5f5f5;
}


.navbar-nav > li > a:hover {
    color: #0096ff !important;
}

.row.cBallerinaIntro {
    padding-top: 1em;
    padding-bottom: 1em
}

.row.cBallerinaIntro h1 {
    color: #BCBCC2;
    font-weight: 200;
    font-size: 2.5em;
    padding-bottom: 0;
    margin-bottom: 0.5em;
    text-transform: none
}

.row.cBallerinaIntro h2 {
    font-size: 1.5em;
    font-weight: 400;
    padding: 0;
    margin: 0
}

.row.cBallerinaIntro h2 span {
    font-weight: 700
}

.cBallerinaDownload {
    vertical-align: bottom
}

a.cBallerinaButtons {
    background-color: #0096ff;
    border: 1px solid #ffffff;
    bottom: 0;
    color: #ffffff;
    display: inline-block;
    font-size: 1.5em;
    padding: 0.8em 0;
    text-align: center;
    text-transform: none;
    vertical-align: bottom;
    width: 100%;
    cursor: pointer
}

.cBallerinaButtons:hover {
    background-color: #f3f3f3;
    color: #0096ff;
}

.cBallerinaTryNowContainer {
    padding: 1em;
    background: #F0F0F1;
    display: inline-block;
    width: 100%;
    position: relative
}

.row.cBallerinaTry {
    transition: all 0.5s ease 0s
}

.row.cBallerinaTry.cFullscreenOption {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: #F0F0F1;
    height: 100vh;
    z-index: 999999999;
    padding: 0;
    margin: 0;
    transition: all 0.1s ease 0s
}

.row.cBallerinaTry.cFullscreenOption .cFullscreenContainer {
    padding: 0;
    margin: 0
}

.row.cBallerinaTry.cFullscreenOption .container {
    width: 100%;
    padding: 0;
    margin: 0;
    transition: all 0.5s ease 0s
}

.row.cBallerinaTry.cFullscreenOption .cBallerinaCode,
.row.cBallerinaTry.cFullscreenOption .cBallerinaDaiagram {
    height: 85vh;
    transition: all 0.5s ease 0s
}

.row.cBallerinaTry.cFullscreenOption .cOutputWindow1.cOutputWindowShow.cOutputWindowShowFullscreen,
.row.cBallerinaTry.cFullscreenOption .cBallerinaCode.cOutputWindowShowFullscreen,
.row.cBallerinaTry.cFullscreenOption .cBallerinaDaiagram.cOutputWindowShowFullscreen,
.row.cBallerinaTry.cFullscreenOption .cOutputWindow2.cOutputWindowShow.cOutputWindowShowFullscreen,
.row.cBallerinaTry.cFullscreenOption .cBallerinaCode.cOutputWindowShowFullscreen,
.row.cBallerinaTry.cFullscreenOption .cBallerinaDaiagram.cOutputWindowShowFullscreen,
.row.cBallerinaTry.cFullscreenOption .cOutputWindow3.cOutputWindowShow.cOutputWindowShowFullscreen,
.row.cBallerinaTry.cFullscreenOption .cBallerinaCode.cOutputWindowShowFullscreen,
.row.cBallerinaTry.cFullscreenOption .cBallerinaDaiagram.cOutputWindowShowFullscreen,
.row.cBallerinaTry.cFullscreenOption .cOutputWindow4.cOutputWindowShow.cOutputWindowShowFullscreen,
.row.cBallerinaTry.cFullscreenOption .cBallerinaCode.cOutputWindowShowFullscreen,
.row.cBallerinaTry.cFullscreenOption .cBallerinaDaiagram.cOutputWindowShowFullscreen {
    height: 42vh
}

.cSampleBox {
    height: 0;
    display: none
}

.cSampleBox.cShowSample {
    display: block;
    height: auto
}

.row.cBallerinaTry {
    padding-top: 2em
}

.cBallerinaTryNowCol {
    padding: 0;
    margin: 0
}

pre {
    overflow: hidden;
    white-space: pre-wrap
}

code,
pre,
.cBallerinaCode textarea {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.8em;
    padding: 1.5em;
    line-height: 1.6em;
    background: #464646;
    color: #FFFFB1
}

.cBallerinaCode textarea {
    width: 100%;
    min-height: 85%;
    border: none;
    display: block
}

.cBallerinaCode input {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.5em;
    color: #FFFFB1;
    font-weight: 600;
    border: none;
    bottom: 10px;
    position: absolute
}

.cBallerinaCode {
    height: 420px;
    scroll-behavior: auto;
    background: #464646;
    opacity: 0;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    border: 1px solid #b0b0b0
}

.cBallerinaDaiagram {
    height: 420px;
    overflow-x: scroll;
    overflow-y: scroll;
    background: #464646;
    opacity: 0;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    border: 1px solid #b0b0b0
}

.cShowSample .cBallerinaCode,
.cShowSample .cBallerinaDaiagram {
    opacity: 1;
    transition: all 0.5s ease 0s;
    visibility: visible
}

.cBallerinaDaiagram {
    background-image: url(//wso2.cachefly.net/wso2/sites/all/ballerina/img/ballerina-editor-bg.jpg);
    background-attachment: fixed
}

.cBallerinaDaiagram img {
    width: 100%
}

.cSampleBox h3 {
    color: #808080;
    padding: 0;
    margin: 0 0 0.8em 0;
    font-size: 1.2em
}

::-webkit-scrollbar {
    width: 20px
}

::-webkit-scrollbar-track {
    background: #B0B0B7
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background: #F0F0F1
}

.cBallerinaTools {
    margin-top: 1em;
    padding: 0
}

.cBallerinaTools select {
    outline: none
}

.cBallerinaTools h4 {
    color: #808080;
    font-size: 1em;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
    font-weight: 400;
    line-height: 2em;
    padding-right: 1em;
    padding-bottom: 0
}

.cBallerinaTools select {
    width: 20em
}

.cTryitButtonContainer {
    text-align: right
}

a.cTryitButton:before {
    background: #303030 none repeat scroll 0 0;
    bottom: 18px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    padding: 0.2em 1em;
    position: absolute;
    right: 20px;
    content: "Run sample";
    transition: all 0.5s ease 0s
}

a.cRUNitButton:before {
    background: #303030 none repeat scroll 0 0;
    bottom: 18px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 800;
    margin: 0;
    padding: 0.2em 1em;
    position: absolute;
    right: 150px;
    content: "Run";
    transition: all 0.5s ease 0s
}

a.cTryitButton:hover {
    text-decoration: none;
    border: none
}

a.cTryitButton.cGoback:before {
    content: "Run sample";
    background: #ffffff;
    color: #303030;
    transition: all 0.5s ease 0s
}

.cOutputWindow1,
.cOutputWindow2,
.cOutputWindow3,
.cOutputWindow4,
.cOutputWindow5,
.cOutputWindow6,
.cOutputWindow7,
.cOutputWindow8 {
    height: 0;
    background: black;
    opacity: 0;
    transition: all 0.5s ease 0s;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.8em;
    padding: 0;
    line-height: 1.6em;
    background: #000000;
    color: #79fa4c;
    white-space: pre-wrap;
    overflow: scroll
}

.cOutputWindow1.cOutputWindowShow,
.cOutputWindow2.cOutputWindowShow,
.cOutputWindow3.cOutputWindowShow,
.cOutputWindow4.cOutputWindowShow,
.cOutputWindow5.cOutputWindowShow,
.cOutputWindow6.cOutputWindowShow,
.cOutputWindow7.cOutputWindowShow,
.cOutputWindow8.cOutputWindowShow {
    height: 320px;
    opacity: 1;
    transition: all 0.5s ease 0s;
    padding: 1.5em
}

a.cFullscreen {
    height: 30px;
    width: 30px;
    position: absolute;
    background-image: url(//wso2.cachefly.net/wso2/sites/all/ballerina/img/fullscreen.svg);
    background-repeat: no-repeat;
    right: 15px;
    top: 15px;
    cursor: pointer;
    opacity: 0.4;
    text-decoration: none;
    border: none
}

a.cFullscreen:hover {
    opacity: 1;
    border: none
}

a.cFullscreen.cBack {
    background-image: url(//wso2.cachefly.net/wso2/sites/all/ballerina/img/smallscreen.svg)
}

.cBallerinaFormFieldContainer {
    display: inline-block;
    margin-bottom: 1em
}

.cBallerinaFormFieldContainer label {
    font-weight: 600;
    margin-bottom: 0.5em
}

.cBallerinaFormFieldContainer input {
    padding: 0.2em 1em;
    width: 100%;
    margin-bottom: 1em
}

.cBallerinaDownloadForm {
    padding: 1.5em;
    width: 350px;
    display: none
}

.fancybox-skin {
    border-radius: 0;
    padding: 1em
}

.cBallerinaDownloadForm .cBallerinaButtons {
    background: #303030;
    color: #ffffff
}

.cBallerinaDownloadForm .cBallerinaButtons:hover {
    color: #303030;
    background: #ffffff
}

.fancybox-overlay.fancybox-overlay-fixed {
    background-color: rgba(240, 240, 241, 0.8)
}

h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0 0 1.5em 0
}

.cBallerinaContentColContainer {
    display: inline-block;
    padding: 0;
    margin: 0;
    background-image: url(//wso2.cachefly.net/wso2/sites/all/ballerina/img/line.svg);
    background-position: center;
    background-repeat: repeat-y
}

.cBallerinaContentRow h2 {
    font-weight: 600 !important
}

.cBallerinaContentCol_Left {
    display: inline-block;
    padding-right: 2em;
    width: 100%
}

.cBallerinaContentCol_Right {
    display: inline-block;
    padding-left: 2em;
    width: 100%
}

.row.cGrayRow {
    background-image: url(//wso2.cachefly.net/wso2/sites/all/ballerina/img/ballerina-bg-2.jpg);
    background-size: 100%;
    background-attachment: fixed
}

.cGettingStarted {
    background: #F0F0F1
}

.cSlides {
    width: 100%;
    min-height: 430px
}

.cBallerinaContentCol_Left ul {
    padding: 0;
    margin: 0
}

.cBallerinaContentCol_Left ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-left: 2em;
    background-image: url(//wso2.cachefly.net/wso2/sites/all/ballerina/img/line-2.svg);
    background-position: left;
    background-repeat: repeat-y;
    margin-bottom: 2em
}

.cBallerinaContentCol_Left ul li a {
    font-size: 1em
}

.cSVGMenuIcons {
    width: 30px;
    margin: 0 1em
}

.cSocialMedia {
    display: inline-block;
    padding: 2em;
    width: 100%;
    text-align: center;
    margin-top: 2em
}

.row.cBallerinaFooter {
    padding: 2em 0;
    border-top: 1px solid #E2E2E5;
    background: #ffffff
}

.row.cBallerinaFooter ul {
    padding: 0;
    margin: 0
}

.row.cBallerinaFooter ul li {
    padding: 0;
    margin: 0 2em 0 0;
    float: left;
    list-style: none;
    font-size: 0.8em
}

.cSubscribe {
    margin-top: 1.5em
}

#subscribeMessage {
    color: #ff9205;
    display: inline-block;
    width: 100%
}

.cHowandwhy {
    padding: 3em 0
}

.cNewtoBallerina {
    padding: 2em;
    display: inline-block;
    background-color: #ffffff
}

.cNewtoBallerinaCol {
    text-align: center
}

.cNewtoBallerinaCol img {
    width: 60px
}

.cSmallButtons {
    display: inline-block
}

.cPowerdby {
    float: right
}

.cPowerdby img {
    float: right;
    height: 20px;
    margin-top: 5px;
    padding-left: 11px
}

.cPowerdby a {
    float: right;
    margin-right: 10px
}

.cPowerdby ul li {
    line-height: 11px !important
}

.cNewtoBallerinaCol.cMiddle {
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5
}

.cSlackContainer {
    display: inline-block;
    background-color: #F0F0F2;
    padding: 2em;
    width: 100%
}

.cSlackContainer h2 {
    margin: 0;
    font-size: 2em;
    padding: 0;
    margin: 0;
    line-height: 2em
}

.cSubscribe {
    margin: 0
}

.cSlackContainer a.cBallerinaButtons {
    background-color: #303030;
    color: #ffffff
}

.cSlackContainer a.cBallerinaButtons:hover {
    color: #303030;
    background: #ffffff
}

p.Intro {
    font-size: 2.5em;
    font-weight: 100;
    line-height: 1em
}

.cFloatingButton {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff !important;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 700;
    padding: 0.5em;
    position: fixed;
    right: -145px;
    text-align: left;
    top: 20%;
    transition: all 0.3s ease 0s;
    width: 100px
}

.cFloatingButton:hover {
    background-color: rgba(0, 0, 0, 0.9)
}

.cFloatingButton img {
    width: 70%
}

.cFloatingButton.cShowFloatingButton {
    right: 0;
    padding-bottom: 0.5em
}

a.cGet-updates {
    display: inline-block;
    margin-top: 1em;
    color: #929292;
    font-weight: 700
}

a.cGet-updates:hover {
    border: none;
    color: #000000
}

@media screen and (max-width: 991px) {
    a.cTryitButton::before {
        position: relative;
        right: 0;
        top: 38px;
        text-align: center;
        width: 100%
    }
    .cBallerinaTools {
        margin-top: -4em
    }
    .cBallerinaContentCol_Right,
    cBallerinaContentCol_Left {
        padding: 0
    }
    .cBallerinaContentColContainer {
        background-image: none
    }
    .navbar-collapse.collapse {
        background: #F0F0F1
    }
    .cBallerinaTools select {
        width: 100%
    }
    a.cTryitButton {
        position: relative
    }
    .cBallerinaDownload {
        padding-top: 40px
    }
    .cNewtoBallerinaCol.cMiddle {
        border: none
    }
    .cNewtoBallerinaCol {
        text-align: left
    }
    p.Intro {
        margin-top: 1em !important;
        font-size: 2em !important
    }
    iframe {
        width: 100% !important
    }
    .cFullscreen {
        display: none
    }
    .cBallerinaTryNowContainer {
        padding-bottom: 3em
    }
    .cFloatingButton.cShowFloatingButton {
        right: -140px
    }
}